*{
    box-sizing: border-box;
}

.container{
    display: flexbox;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.cardsDiv{
    margin-bottom:50px;     
}
.tagline{
    padding-bottom: 10px;
}